
#yes-wooper-cursor,
.wooperbutton a {
    cursor: url("wooper-cursor.png"), auto;
}

.background-main-page{
    background-image: url("Wooper-Wallpaper.jpg")
}

.wooper-page{
    background-color: white;
}
/* All of this stuff is used to keep the button on the center until next comment */
.full {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
}

#randomMover {
    position: absolute;
    left: 0;
    top: 0;
}

#moneyclick{
    width: 155px;
}
#wooperSprite > .hat { 
    position: relative;
    top: 190px;
    left: 550px;
    width: 20%;
    z-index: 1;
}

#wooperSprite, #wooperSprite > .wooper {
    position: absolute;
    left: 500px;
    top: 250px;
    width: 35%;
    transition: left ease-in-out 0.3s;
    /* transform-style: preserve-3d;    */
    transform: rotateY ease-in-out(180deg);

}

.flex {
    display: flex;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

/* taken from previous project with minor edits     */
.wooperbutton {
    /* display: block; */
    display:flex;
    align-items: center;
    background-color: rgba(109, 149, 235, 0.692);
    border-color: rgb(123, 183, 183);
    border-width:8px;
    text-align: center; 
    border-radius: 20px;
    width: 800px;
    padding: 10px;
    font-size: 80px;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    border-style: inset;
    text-decoration: none;
}

.woopermusic{
    width: 10px;
}
/* also borrowed */
.homebutton {
    /* display: block; */
    display:block;
    background-color: rgba(109, 149, 235, 0.692);
    border-color: rgb(123, 183, 183);
    border-width: 6px;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    width: 190px;
    padding: 10px;
    font-size: 24px;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    border-style: inset;
    margin: 10px;
    text-decoration: none;
}

#scenery{
    background-image: url("BackGround .png")
}



.shopbutton{
    display:flex;
    align-items: center;
    background-color: rgba(109, 149, 235, 0.692);
    border-color: rgb(123, 183, 183);
    border-width:8px;
    text-align: center; 
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    border-style: inset;
    text-decoration: none;
}

#donut{
    position: absolute;
    height: 79px;
    width: 79px;

}

#mushroom{
    position: absolute;
    height: 79px;
    width: 79px;

}
